@keyframes float{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-18px);
    }

}
/* Apparition des sections */

.hidden{
    opacity:0;
    transform:translateY(60px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}

/* Animation des cartes */

.card{

    animation:fadeUp .8s ease;

}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

/* Halo du logo */

.hero-right img{

    filter:drop-shadow(0 0 40px #3b82f6);

}
@keyframes pulse{

    0%{

        transform:scale(1);

        opacity:.6;

    }

    50%{

        transform:scale(1.12);

        opacity:1;

    }

    100%{

        transform:scale(1);

        opacity:.6;

    }

}